doctype html
html(ng-app="gameApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/globale.css')
    block head
  body
    nav
        ul
            li
                a#accueil(href="/") Accueil
            li
                a#creationJoueur(href="/creationJoueur") Jeu
            li
                a#reglesJeu(href="/aide") Règles du jeu

    block content
    script(src="./../angularjs/jquery-1.11.3.js")
    script(src="./../angularjs/angular.js")
    script(src="./../angularjs/angular-route.min.js")
    script(src="./../angularjs/angular-messages.min.js")
    script(src="./../angularjs/angular-modal-service.min.js")
    script(src="./../angularjs/ui-bootstrap-tpls-0.14.3.min.js")
    script(src="./../angularjs/bootstrap.js")
    script(src="./../app/app.js")
    script(src="./../app/factories.js")
    script(src="./../app/formController.js")
    script(src="./../app/playerListCtrl.js")
    script(src="./../app/PagesController.js")
    script(src="./../app/directives.js")
    script(src="./../app/filters.js")

    footer
        p Les Grottes de Kalte - Lone Wolf
        p Utilisé pour LOG4420 par Konstantinos Lambrou-Latreille

