extends ./layout

block head
    link(rel="stylesheet", href="/stylesheets/pageJeu.css")

block content
    main(ng-controller="jeuPageController")
        div#title
            img(src="/images/pageTitre.png")
            p#numeroPage {{numeroPage}}

        section#histoire
            p(ng-repeat="paragraphe in contenu") {{paragraphe.text}}

        section(id="combat" ng-show="haveCombat")

        section(id="ajouterObjets" ng-show="haveAjouterObjets")

        include ./stats.jade

        section(id='decision' ng-show="haveDecision")
            h1 Decision
            div(ng-repeat="item in decision") {{item.text}}
              a(href="" ng-click="loadPage(item.pageId, item.sectionId)" ng-class="{disabled: !choixPossible(item.pageId)}") turn to page {{item.pageId}}



