extends ./layout

block head
    link(rel="stylesheet", href="/stylesheets/pageJeu.css")

block content
    main(ng-controller="PagesController")
        div#title
            img(src="/images/pageTitre.png")
            p#numeroPage {{numeroPage}}

        section(id="histoire" ng-repeat="section in sections")
            div(id="contenu" ng-show="section.contenu.length > 0" ng-repeat="item in section.contenu")
                p(ng-show="item.text") {{item.text}}
                img(class="avantTexte" ng-show="item.img" src="{{item.img}}")

            div(combat-part ng-show="section.combat | haveProperty" id="combat" combat="combat" player="player" identify="identify" isPlayerWin="isPlayerWin" isFuir="isFuir" combatFinish="combatFinish")

            form(id="ajouterObjets" name="ajouterObjetsForm" ng-show="!isAjoute && (section.ajouterObjets && ajouterObjets.items.length > 0)")
                fieldset
                    legend {{ajouterObjets.text}}
                    div(ng-repeat="item in ajouterObjets.items")
                        label
                            input(type="checkbox" name="specialObjet" ng-model="item.checked" ng-show="!item.isOwn")
                            | {{item.value}}
                            span(ng-show="item.isOwn") (You already have this item)
                    button(class="button" ng-click="ajouterObjetsAction()") Ajouter!
            div
                button(class="button" ng-show="section.confirmation && !isConfirm" ng-click="confirmer()") Confirmer!

            section(id='decision' ng-show="section.decision && !needConfirm")
                h1 Decision
                div(ng-repeat="item in decisions") {{item.text}}
                    a(href="" ng-click="clickPageLink(item.pageId, item.sectionId, $index)" ng-show="isNormalDecision" ng-class="{disabled: !item.isValid}") turn to page {{item.pageId}}
                    a(href="" ng-click="clickPageLink(item.pageId, item.sectionId, $index)" ng-show="!isNormalDecision" ng-class="{disabled: !item.isValid}") turn to page {{item.pageId}}

        section(id="stats" stats-part player="player")
