extends ./layout

block head
    link(rel="stylesheet", href="/stylesheets/pageJeu.css")

block content
    main(ng-controller="jeuPageController")
        div#title
            img(src="/images/pageTitre.png")
            p#numeroPage {{numeroPage}}

        section#histoire
            p(ng-repeat="paragraphe in contenu") {{paragraphe.text}}
            img(ng-src="contenu.img" width="193px" height="330px" ng-show="haveImg")

        include ./stats.jade

        section(id="combat" ng-show="haveCombat")
            div#monstre
                span#nomMonstre {{combat.nom}}:
                | HABILETÉ
                span#monstreAttaque {{combat.habilete}}
                | ENDURANCE
                span#monstreEndurance {{combat.endurance}}

            div(class="rondeCombat" ng-show="haveRonde")
                div(ng-repeat="ronde in rondes")
                  div
                    | Ronde combat:
                    span {{$index + 1}}
                  div
                    p Ratio de combat: {{ronde.quotientAttaque}}
                    p Chiffre aléatoire: {{ronde.chiffreAleatoire}}
                  div
                    p Ton ennemi a obtenu {{ronde.degatEnnemi}} dégâts -
                    p et a maintenant {{ronde.currentEnduranceEnnemi}} points d'endurance.
                    p {{player.joueurNom}} a eu {{ronde.degatJoueur}} dégâts -
                    p et a maintenant {{ronde.currentEndurancePlayer}} points d'endurance.

            div(id='choixCombat' ng-show="!combatFinish")
                button(id="combattre.button" ng-click="combattre()")  COMBATTRE
                br
                button(id="fuir.button" ng-click="fuir()") FUIR
            div(ng-show="combatFinish")
                button(id="failed" ng-click="quitGame()" ng-show="!isPlayerWin && !isFuir") You failed! Game finish
                p(ng-show="isPlayerWin") You win this combat. You can continue!
                p(ng-show="isFuir") You quit game. You lost {{getPlayerPert()}} points. Now you have {{player.endurancePlus}}.


        section(id="ajouterObjets" ng-show="haveAjouterObjets")



        section(id='decision' ng-show="haveDecision && shouldShowDecision")
            h1 Decision
            div(ng-repeat="item in decision") {{item.text}}
              a(href="" ng-click="clickPageLink(item.pageId, item.sectionId, $index)" ng-class="{disabled: !item.isValid}") turn to page {{item.pageId}}



